.m-menu__link,
.m-nav__link {
  white-space: nowrap;
}

.m-nav__link-img {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: left;
  width: 41px;
  line-height: 0;
}

.m-nav__link-img img {
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.m-nav__link-img span {
  width: 31px;
  height: 31px;
  display: inline-block;
  line-height: 31px;
  text-align: center;
  font-size: 1.2rem;
  background-color: #ccc;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
}

.m-nav.m-nav--hover-bg .m-nav__item--img > .m-nav__link {
  padding: 6px 30px;
}

.m-nav.m-nav--inline > .m-nav__item--circle {
  display: inline-flex;
  align-items: center;
}

.m-nav.m-nav--inline > .m-nav__item--circle > .m-nav__link {
  width: 41px;
  height: 41px;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item--circle > .m-nav__link .m-nav__link-icon > i:before {
  background-color: #fff;
  background-image: none;
}

.m-nav .m-nav__item--circle > .m-nav__link .m-nav__link-icon {
  width: 100%;
}

.m-header-menu .m-menu__nav > .m-menu__item > .m-menu__link .custom-icon--heartrate-noactive {
  padding-top: 3px;
}

.custom-icon:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: 100% auto;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.custom-icon--heartrate-noactive:before {
  background-image: url('../media/icons/heart-rate-no-active.png');
}

.custom-icon--heartrate-active {
  background-image: url('../media/icons/heart-rate-active.png');
}

.m-btn--icon-right > span > span {
  line-height: 0.6em;
}

/* Profile Page */
.m-card-profile {
  padding: 0 15px;
}

.m-card-profile .m-card-profile__pic .m-card-profile__pic-wrapper {
  margin: 0 auto;
}

.m-card-profile .m-card-profile__details {
  text-align: left;
}

.m-card-profile__details--family .m-card-profile__add-family {
  margin-left: 0.3rem;
}

.m-card-profile__add-family .m-btn--icon.m-btn--custom.m-btn--icon-only.btn-sm {
  width: 2em;
  height: 2em;
}

.m-card-profile__add-family .m-btn--icon.m-btn--icon-only.btn-sm [class*=" fa-"] {
  font-size: 0.8rem;
}

.m-card-profile__status {
  font-size: 1.2rem;
}

.m-nav--offset-top {
  margin-top: 0.5rem;
}

.alert--no-offset {
  margin: 0;
}

/* Indicators Page */
.m-widget24 a.m-widget24__item {
  display: block;
  text-decoration: none;
}

.m-widget24 .m-widget24__item .m-widget24__link {
  visibility: hidden;
  color: #9699a2;
  margin-left: 1.8rem;
  font-size: 1rem;
  font-weight: 300;
}

.m-widget24 .m-widget24__item .m-widget24__link:hover {
  color: #716aca;
}

.m-widget24:hover {
  background-color: #f5f5f5;
}

.m-widget24:hover .m-widget24__item .m-widget24__link {
  visibility: visible;
}

.m-widget24 .m-widget24__item .m-widget24__link > i {
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .m-nav.m-nav--inline > .m-nav__item--circle > .m-nav__link {
    width: 31px;
    height: 31px;
  }

  .m-widget24 .m-widget24__item .m-widget24__link {
    display: none;
  }
}

@media (min-width: 1025px) {
  .m-header-menu {
    display: inline-table;
    float: none;
  }

  .m-topbar,
  .m-header-menu {
    text-align: left;
  }

  .m-header-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-icon {
    font-size: 1.6rem;
  }

  .m-header-menu .m-menu__nav > .m-menu__item {
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .m-nav--padding-right {
    padding-right: 4.4rem;
  }

  .m-widget24 .m-widget24__item .m-widget24__stats {
    position: absolute;
    right: 1.8rem;
    top: 4rem;
    transform: translateY(-50%);
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.2;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
  }

  .m-widget24 .m-widget24__item .m-widget24__stats > span {
    flex: 1 0 100%;
    font-size: 1.3rem;
  }
}

@media (max-width: 767px) {
  .col-md--offset-top {
    margin-top: 1rem;
  }

  .m-widget24 .m-widget24__item .m-widget24__stats {
    display: block;
    font-size: 1.5rem;
    margin-left: 1.8rem;
    margin-right: 0;
    margin-top: 0;
    float: none;
  }
}

@media (max-width: 575px) {
  .m-card-profile__name,
  .m-card-profile__status {
    text-align: center;
  }
}